<% title "Owner" %>
<div style="clear:both;"></div>
<p>
  <strong>Name:</strong>
  <%=h @owner.name %>
</p>
<p>
  <strong>Initials:</strong>
  <%=h @owner.initials %>
</p>

<p>
  <%= link_to "Edit", edit_owner_path(@owner) %> |
  <%= link_to "Destroy", @owner, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", owners_path %>
</p>
