
  <div class="box" id="as-content-box">
    <div id="<%= active_scaffold_id -%>" class="grid active-scaffold active-scaffold-<%= controller_id %> <%= "#{params[:controller]}-view" %> <%= active_scaffold_config.theme %>-theme">
      <div id="<%= active_scaffold_content_id -%>">
        <%= render :partial => 'list' %>
      </div>
    </div>
  </div>
