<table>
  <tr>
    <%= content_tag(:td, 'SCOM', :class => 'health') if @computer.health_sc_state %>
    <%= content_tag(:td, 'CPU', :class => 'health') if @computer.health_ak_cpu %>
    <%= content_tag(:td, 'Memory', :class => 'health') if @computer.health_ak_mem %>
    <%= content_tag(:td, 'Storage', :class => 'health') if @computer.health_ak_storage %>
    <%= content_tag(:td, 'DAT', :class => 'health') if @computer.ep_dat_outdated %>
    <%= content_tag(:td, 'Avamar', :class => 'health') if @computer.av_status %>
  </tr>
  <tr>
    <%= content_tag(:td, food_icon(@computer.health_sc_state), :class => 'health') if @computer.health_sc_state %>
    <%= content_tag(:td, food_icon(@computer.health_ak_cpu), :class => 'health') if @computer.health_ak_cpu %>
    <%= content_tag(:td, food_icon(@computer.health_ak_mem), :class => 'health') if @computer.health_ak_mem %>
    <%= content_tag(:td, food_icon(@computer.health_ak_storage), :class => 'health') if @computer.health_ak_storage %>
    <%= content_tag(:td, food_icon(@computer.health_ep_dat), :class => 'health') if @computer.ep_dat_outdated %>
    <%= content_tag(:td, food_icon(@computer.health_av_last), :class => 'health') if @computer.av_status %>
  </tr>
</table>