<table>
  <tr>
    <%= content_tag(:td, 'SCOM', :class => 'health') if @computer.scom_computer %>
    <%= content_tag(:td, 'Virus DAT', :class => 'health') if @computer.epo_computer %>
    <%= content_tag(:td, 'VMware CPU', :class => 'health') if @computer.vmware_computer %>
    <%= content_tag(:td, 'VMware Memory', :class => 'health') if @computer.vmware_computer %>
    <%= content_tag(:td, 'Akorri Storage', :class => 'health') if @computer.akorri_server_storage %>
    <%= content_tag(:td, 'Avamar', :class => 'health') if @computer.avamar_computer %>
  </tr>
  <tr>
    <%= content_tag(:td, food_icon(@computer.scom_computer.health), :class => 'health') if @computer.scom_computer %>
    <%= content_tag(:td, food_icon(@computer.epo_computer.dat_health), :class => 'health') if @computer.epo_computer %>
    <%= content_tag(:td, food_icon(@computer.vmware_computer.cpu_health), :class => 'health') if @computer.vmware_computer %>
    <%= content_tag(:td, food_icon(@computer.vmware_computer.memory_health), :class => 'health') if @computer.vmware_computer %>
    <%= content_tag(:td, food_icon(@computer.akorri_server_storage.health), :class => 'health') if @computer.akorri_server_storage %>
    <%= content_tag(:td, food_icon(@computer.avamar_computer.health), :class => 'health') if @computer.avamar_computer %>
  </tr>
</table>