<div class="grid_16">
  <%= render :partial => 'filter_block' %>
</div>
<div class="clear"></div>
<div class="grid_11">
  <h2 id="page-heading"><%=h active_scaffold_config.list.user.label %></h2>
</div>
<div class="grid_5">
  <%= render :partial => 'search_block' %>
</div>
<div class="clear"></div>
<div class="grid_16">
  <div class="box" id="as-content-box">
    <div id="<%= active_scaffold_id -%>" class="grid active-scaffold active-scaffold-<%= controller_id %> <%= "#{params[:controller]}-view" %> <%= active_scaffold_config.theme %>-theme">
      <div id="<%= active_scaffold_content_id -%>">
        <%= render :partial => 'list' %>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="grid_16" id="site_info">
  <div class="box">
    <p>Brrrr. It's cold out there.</p>
  </div>
</div>
<div class="clear"></div>

<script type="text/javascript">
//<![CDATA[
<% if active_scaffold_config.theme != :default -%>
Rico.Corner.round($$('#<%= active_scaffold_id %> div.active-scaffold-header').first(), {color: 'fromElement', bgColor: 'fromParent', corners: 'top', compact: true});
Rico.Corner.round($$('#<%= active_scaffold_id %> div.active-scaffold-footer').first(), {color: 'fromElement', bgColor: 'fromParent', corners: 'bottom', compact: true});
<% end -%>
new ActiveScaffold.Actions.Table($$('#<%= active_scaffold_id -%> div.active-scaffold-header a.action'), $('<%= before_header_id -%>'), $('<%= loading_indicator_id(:action => :table) -%>'))
ActiveScaffold.server_error_response = '<p class="error-message message">'
  + <%= as_(:internal_error).to_json %>
  + '<a href="#" onclick="Element.remove(this.parentNode); return false;">'
  + <%= as_(:close).to_json %>
  + '</a>'
  + '</p>';
//]]>
</script>
