<% title "Computer: " + @computer.fqdn %>

<div style="clear:both;"></div>

<p>
  <%= link_to "Back to list", computers_path %>
</p>

<% if @computer.scom_computer then %>
<h3>SCOM</h3>
<ul>
  <% @computer.scom_computer.attributes.each do |a, v| %>
    <li><strong><%=h a %>: </strong><%=h v %></li>
  <% end %>
</ul>
<% end %>

<% if @computer.akorri_server_storage then %>
<h3>Akorri</h3>
<ul>
  <% @computer.akorri_server_storage.attributes.each do |a, v| %>
    <li><strong><%=h a %>: </strong><%=h v %></li>
  <% end %>
</ul>
<% end %>

<% if @computer.epo_computer then %>
<h3>EPO</h3>
<ul>
  <% @computer.epo_computer.attributes.each do |a, v| %>
    <li><strong><%=h a %>: </strong><%=h v %></li>
  <% end %>
</ul>
<% end %>

<% if @computer.vmware_computer then %>
<h3>VMware</h3>
<ul>
  <% @computer.vmware_computer.attributes.each do |a, v| %>
    <li><strong><%=h a %>: </strong><%=h v %></li>
  <% end %>
</ul>
<% end %>

<% if @computer.wsus_computer then %>
<h3>WSUS</h3>
<ul>
  <% @computer.wsus_computer.attributes.each do |a, v| %>
    <li><strong><%=h a %>: </strong><%=h v %></li>
  <% end %>
</ul>
<% end %>

<% if @computer.avamar_computer then %>
<h3>Avamar</h3>
<ul>
  <% @computer.avamar_computer.attributes.each do |a, v| %>
    <li><strong><%=h a %>: </strong><%=h v %></li>
  <% end %>
</ul>
<% end %>


<p>
  <%= link_to "Back to list", computers_path %>
</p>
