<ul class="nav main">
  <li>
    <%= link_to("Class", '#')%>
    <ul>
      <%= content_tag(:li, link_to("Servers", :controller => 'servers'))%>
      <%= content_tag(:li, link_to("PCs", :controller => 'pcs')) %>
    </ul>
  </li>
  <li>
    <%= link_to("Status", '#')%>
    <ul>
      <%= content_tag(:li, link_to("Default", params.merge(:status => nil, :page => nil)))%>
      <%= content_tag(:li, link_to("All", params.merge(:status => 'all', :page => nil))) %>
      <% Computer.states_combined.each do |s| %>
        <%= content_tag(:li, link_to(s[0], params.merge(:status => s[1], :page => nil))) %>
      <% end %>
    </ul>
  </li>
  <li>
    <%= link_to("Owner", '#')%>
    <ul>
      <%= content_tag(:li, link_to("All", params.merge(:owner_initials => nil, :page => nil)))%>
      <% Owner.all_sorted_by_name.each do |owner| %>
        <%= content_tag(:li, link_to(owner.name, params.merge(:owner_initials => owner.initials, :page => nil)))%>
      <% end %>
    </ul>
  </li>
  <li>
    <%= link_to("View", '#')%>
    <ul>
      <%= content_tag(:li, link_to("Default", params.merge(:view => nil, :page => nil)))%>
      <%= content_tag(:li, link_to("Avamar", params.merge(:view => 'avamar', :page => nil)))%>
      <%= content_tag(:li, link_to("Physical Servers", params.merge(:view => 'physical', :page => nil)))%>
      <%= content_tag(:li, link_to("Virtual Servers", params.merge(:view => 'virtual', :page => nil)))%>
      <%= content_tag(:li, link_to("Compliance", params.merge(:view => 'compliance', :page => nil)))%>
      <%= content_tag(:li, link_to("Reporting", params.merge(:view => 'reporting', :page => nil)))%>      
      <%= content_tag(:li, link_to("All Data", params.merge(:view => 'all', :page => nil)))%>
    </ul>
  </li>
  <li class="secondary">
    <%= link_to("Download CSV", '#')%>
    <ul>
      <li>
        <%= link_to("Download CSV (formatted)", :controller => :servers, :owner_initials => params[:owner_initials],
                     :status => params[:status], :format => :csv)%>
      </li>
      <li>
        <%= link_to("Download CSV (all data)", :controller => :servers, :view => 'all', :format => :csv)%>
      </li>
    </ul>
  </li>
</ul>