<ul class="nav main">
  <li>
    <%= link_to("Class", :controller => 'servers')%>
    <ul>
      <%= content_tag(:li, link_to("Servers", :controller => 'servers'))%>
      <%= content_tag(:li, link_to("PCs", :controller => 'pcs')) %>
    </ul>
  </li>
  <li>
    <%= link_to("Status", params.merge(:status => nil, :page => nil))%>
    <ul>
      <%= content_tag(:li, link_to("Default", params.merge(:status => nil, :page => nil)))%>
      <%= content_tag(:li, link_to("All", params.merge(:status => 'all', :page => nil))) %>
      <% Pc.aasm_states_for_select.each do |s| %>
        <%= content_tag(:li, link_to(s[0], params.merge(:status => s[1], :page => nil))) %>
      <% end %>
    </ul>
  </li>
  <li class="secondary">
    <%= link_to("Download CSV", :controller => :pcs, :owner_initials => params[:owner_initials],
                 :status => params[:status], :format => :csv)%>
    <ul>
      <li>
        <%= link_to("Download CSV (formatted)", :controller => :pcs, :format => :csv)%>
      </li>
      <li>
        <%= link_to("Download CSV (all data)", :controller => :pcs, :view => 'all', :format => :csv)%>
      </li>
    </ul>
  </li>
</ul>