<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= h(yield(:title) || "Salad") %></title>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
    <script type="text/javascript">
      var $j = jQuery.noConflict();
    </script>
    <%= javascript_include_tag 'prototype', 'effects', 'controls' %>
    <%= active_scaffold_includes %>
    <%= javascript_include_tag 'jquery.qtip.min' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'reset', 'text', 'grid', 'layout', 'nav', 'jquery.qtip', 'application' %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]--> 
    <!--[if IE 7]><%= stylesheet_link_tag 'ie' %><![endif]-->
    <%= yield(:head) %>
  </head>
  
  <body>
    
    <div class="container_16 content_container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <div class="grid_16">
        <%= render :partial => 'filter_block' %>
      </div>
      <div class="clear"></div>
      
      <div class="grid_11">
        <h2 id="page-heading"><%=h active_scaffold_config.list.user.label %></h2>
      </div>
      <div class="grid_5">
        <%= render :partial => 'search_block' %>
      </div>
      <div class="clear"></div>
      
      <div class="grid_16">
        <%= yield %>
      </div>
      <div class="clear"></div>
      
      <div class="grid_16" id="site_info">
        <div class="box">
          <p>70 degrees and florescent all day. Windows? Who needs 'em?</p>
        </div>
      </div>
      <div class="clear"></div>
      
    </div>
  </body>
</html>
