<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

  <head>
    <title><%= h(yield(:title) || "Salad") %></title>
    <%= javascript_include_tag 'prototype', 'effects', 'controls' %>
    <%= active_scaffold_includes %>
    <%= stylesheet_link_tag 'grid', 'application' %>
    <!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]--> 
    <!--[if IE 7]><%= stylesheet_link_tag 'ie' %><![endif]-->
    <%= yield(:head) %>
  </head>
  
  <body>
    
    <div class="container_16">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>

    </div>
    
    <%= javascript_include_tag 'jquery-1.3.2.min' %>
    <script type="text/javascript">
      var $j = jQuery.noConflict();
    </script>
    <%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.min' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
